%h2 Photos

%p.text-right
  = link_to "Post New Photo", new_admin_photo_path, class: 'btn btn-primary'

.clearfix
  = paginate @photos

%table.table.table-striped
  - @photos.each do |photo|
    %tr
      %td
        = image_tag photo.file.thumb.url, class: 'img-responsive'
      %td=photo.title
      %td=sanitize(truncate(photo.description, :omission => "...", :length => 40))
      %td.text-right
        = link_to edit_admin_photo_path(photo), class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-edit
          Edit

        = link_to admin_photo_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} do
          %span.glyphicon.glyphicon-trash
          Delete
