= link_to user_path(user) do
  - if user.avatar?
    = image_tag user.avatar.thumb.url, alt: user.full_name, title: user.full_name, style: 'max-width: 150px;'
  - else
    = image_tag "no-avatar.jpg", alt: user.full_name, title: user.full_name, style: 'max-width: 150px;'
%br
= user.full_name
%br
%small
  = user.videos.count
  videos
,
%small
  = user.photos.count
  photos