.navbar.navbar-inverse
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "WeTube", "/", class: 'navbar-brand'
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li{class: "#{'active' if controller_name == 'videos'}"}
        = link_to videos_path do
          %span.glyphicon.glyphicon-film
          Videos
      %li{class: "#{'active' if controller_name == 'subtitles'}"}
        = link_to subtitles_path do
          %span.glyphicon.glyphicon-subtitles
          Subtitles
      %li{class: "#{'active' if controller_name == 'playlists'}"}
        - if current_user
          -if current_user.playlist
            = link_to playlist_path(current_user.playlist) do
              %span.glyphicon.glyphicon-play
              Playlist
          - else
            = link_to playlists_path, method: :post do
              %span.glyphicon.glyphicon-play
              Playlist
        - else
          = link_to playlists_path do
            %span.glyphicon.glyphicon-play
            Playlist
      %li{class: "#{'active' if controller_name == 'favorites'}"}
        = link_to favorites_path do
          %span.glyphicon.glyphicon-star
          Favorites
      %li{class: "#{'active' if controller_name == 'photos'}"}
        = link_to photos_path do
          %span.glyphicon.glyphicon-picture
          Photos
      

    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to new_admin_video_path do
          %span.glyphicon.glyphicon-file
          New Video
      %li
        = link_to new_admin_photo_path do
          %span.glyphicon.glyphicon-file
          New Photo

      - if user_signed_in?
        %li
          = link_to edit_user_registration_path do
            %span.glyphicon.glyphicon-user
            #{current_user.full_name}
        %li
          = link_to destroy_user_session_path, method: :delete do
            %span.glyphicon.glyphicon-off
            Logout
      - else
        %li
          = link_to new_user_session_path do
            %span.glyphicon.glyphicon-log-in
            Login / Register