%h4=@subtitle.title
.row
  .col-sm-6
    - if @subtitle.video.file?
      .row
        .col-sm-12
          %video#movie{:controls => "", :height => "auto", :poster => @subtitle.thumbnail.url, :preload => "none", :width => "100%", :autoplay=> true}
            %source{:src => @subtitle.video.file.url, :type => "video/mp4"}
          %p
            = link_to "Capture subtitle position", "javascript: void(0); captureSubtitlePosition();", class: "btn btn-primary"
            = link_to "Clear subtitle positions", "javascript: void(0); clearNewSubtitlePositions();", class: "btn btn-danger"
  .col-sm-6
    .well
      = bootstrap_form_for [:admin, @video, @subtitle], layout: :horizontal do |f|
        = f.text_field :title, label: 'Title *'
        = f.text_field :start_at, id: "subtitle_start_at", label: 'Start at *'
        = f.text_field :end_at, id: "subtitle_end_at", help: "Optional, and we will use next subtitle's start_at"
        = f.text_area :description, rows: 6
        = f.form_group do
          = f.submit "Submit", class: 'btn btn-primary', data: { :disable_with => "Please Wait..." }
          = link_to 'Delete', admin_video_subtitle_path(@video, @subtitle), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure to delete?' }
          = link_to 'Back to video', edit_admin_video_path(@video, subtitle_id: @subtitle.id), class: 'btn btn-default'

%hr

%h4 Other subtitles in same video

.row
  - @video.subtitles.each do |subtitle|
    - unless subtitle.new_record?
      .col-md-2.col-sm-3
        .well
          = link_to "#movie", onclick: "seekToVideo(#{subtitle.start_at});" do
            = image_tag subtitle.thumbnail.thumb.url, class: 'img-responsive'
          = subtitle.title
          ,
          = subtitle.start_at
          
          = link_to 'Edit', edit_admin_video_subtitle_path(@video, subtitle), class: 'btn btn-info btn-sm'

%br
%br

:javascript
  $(function(){
    $('#movie').get(0).currentTime = "#{@subtitle.try(:start_at) rescue 0}";
  });
  
  function captureSubtitlePosition(){
    $('#movie').get(0).pause();
    if($('#subtitle_start_at').val())
    {
      $('#subtitle_end_at').val($('#movie').get(0).currentTime);
    }else{
      $('#subtitle_start_at').val($('#movie').get(0).currentTime);
    } 
  }

  function clearNewSubtitlePositions(){
    $('#subtitle_start_at').val('');
    $('#subtitle_end_at').val('');
  }

  function seekToVideo(start_at){
    $('#movie').get(0).currentTime = start_at;
  }
  