.item.photo
  = link_to photo.file.full.url, class: 'img-photo' do
    - if photo.file?
      = image_tag photo.file.thumb.url, class: "img-responsive thumbnail", alt: photo.title
    - else
      = image_tag asset_path('no-thumbnail.png'), class: "img-responsive", alt: photo.title

  
  %h4.title
    = link_to photo_path(photo) do
      = photo.title
    &nbsp;
    = link_to edit_admin_photo_path(photo) do
      %small
        %span.glyphicon.glyphicon-edit
  %p
    - if photo.user
      = link_to user_path(photo.user) do
        %small
          %span.glyphicon.glyphicon-user
          #{photo.user.full_name}
      &nbsp;
    - else
      %small
        %span.glyphicon.glyphicon-user
        Unknown
      &nbsp;
    %br
    %small
      %span.glyphicon.glyphicon-file
      = time_ago_in_words(photo.created_at)
      ago
  %p
    = sanitize(truncate(photo.description, :omission => "...", :length => 40))