.item.photo
  .row
    .col-sm-12
      .visible-sm.visible-md.visible-lg
        = link_to photo.file.full.url, class: 'photo' do
          - if photo.file?
            = image_tag photo.file.thumb.url, class: "img-responsive", alt: photo.title
          - else
            = image_tag asset_path('no-thumbnail.png'), class: "img-responsive", alt: photo.title
      .visible-xs
        = link_to photo_path(photo) do
          - if photo.file?
            = image_tag photo.file.thumb.url, class: "img-responsive", alt: photo.title
          - else
            = image_tag asset_path('no-thumbnail.png'), class: "img-responsive", alt: photo.title
      
      %h4.title
        = link_to photo_path(photo) do
          = photo.title

        = link_to edit_admin_photo_path(photo), class: 'pull-right' do
          %small
            %span.glyphicon.glyphicon-edit
      %p
        %small
          %span.glyphicon.glyphicon-file
          = time_ago_in_words(photo.created_at)
          ago
        &nbsp;
        - if photo.user
          %small
            %span.glyphicon.glyphicon-user
            Posted by #{photo.user.full_name}
          &nbsp;
        - else
          %small
            %span.glyphicon.glyphicon-user
            Posted by Unknown
          &nbsp;


      %p
        = sanitize(truncate(photo.description, :omission => "...", :length => 40))