- subtitle = playlist.plays.first.playable
- video = subtitle.video
.video
  = link_to playlist_path(playlist), class: 'img-video', rel: 'video' do
    - if video.thumbnail?
      = image_tag subtitle.thumbnail.thumb.url, class: "img-responsive thumbnail", alt: subtitle.title
    - else
      = image_tag asset_path('no-thumbnail.png'), class: "img-responsive", alt: subtitle.title
  
  %h4.title
    = link_to playlist_path(playlist) do
      = subtitle.title
  %p
    %small
      %span.glyphicon.glyphicon-film
      = subtitle.video.title
    %br

    - if playlist.user
      = link_to user_path(playlist.user) do
        %small
        %span.glyphicon.glyphicon-user
        = playlist.user.full_name
      %br

    %small
      %span.glyphicon.glyphicon-time
      = Time.at((subtitle.end_at||subtitle.video.duration) - subtitle.start_at).utc.strftime("%H:%M:%S")

    %br
    
    %small
      %span.glyphicon.glyphicon-file
      Posted
      = time_ago_in_words(subtitle.created_at)
      ago
  %p
    = sanitize(truncate(video.description, :omission => "...", :length => 40))
