.row
  .col-md-6
    %h4 #{@video.title}
    .well
      = bootstrap_form_for [:admin, @video], layout: :horizontal do |f|
        = f.file_field :file, label: 'Video'

        - if @video.file?
          = f.form_group do
            = File.basename(@video.file.url)

        = f.file_field :thumbnail, label: 'Thumbnail'
        = f.form_group do
          = image_tag(@video.thumbnail.thumb.url) if @video.thumbnail?
          = f.check_box :remove_thumbnail
        = f.text_field :title
        = f.text_area :description, rows: 6
        = f.select :category_id, [''] + nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }
        = f.text_field :tag_list, value: f.object.tag_list.to_s

        = f.form_group do
          = f.check_box :featured
        = f.form_group do
          = f.submit "Submit", class: 'btn btn-primary', data: { :disable_with => "Please Wait..." }
          - if !@video.new_record?
            = link_to "Delete", admin_video_path(@video), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }
            = link_to "Show", video_path(@video), class: 'btn btn-info'
            - if !@video.playable?
              = link_to "Encode", encode_admin_video_path(@video), class: 'btn btn-warning', method: :patch
              = "#{@video.encoding_progress}% encoded"

  .col-md-6
    - if @video.file?
      .row
        .col-sm-12
          %h4 New Subtitle
          .well
            = bootstrap_form_for [:admin, @video, @video.subtitles.new], layout: :horizontal do |f|
              = f.form_group do
                %video#movie{:controls => "", :height => "auto", :poster => @video.thumbnail.url, :preload => "none", :width => "100%", :autoplay=> true}
                  %source{:src => @video.file.url, :type => "video/mp4"}
                %p
                  = link_to "Capture subtitle position", "javascript: void(0); captureSubtitlePosition();", class: "btn btn-primary"
                  = link_to "Clear subtitle positions", "javascript: void(0); clearNewSubtitlePositions();", class: "btn btn-danger"
              = f.text_field :title, label: 'Title *'
              = f.text_field :start_at, id: "subtitle_start_at", label: 'Start at *'
              = f.text_field :end_at, id: "subtitle_end_at", help: "Optional, and we will use next subtitle's start_at"
              = f.form_group do
                = f.submit "Submit", class: 'btn btn-primary', data: { :disable_with => "Please Wait..." }

%hr

%h4 Other subtitles in this video
.row
  - @video.subtitles.each do |subtitle|
    - unless subtitle.new_record?
      .col-md-2.col-sm-3
        .well
          = link_to "#movie", onclick: "seekToVideo(#{subtitle.start_at});" do
            = image_tag subtitle.thumbnail.thumb.url, class: 'img-responsive'
          = subtitle.title
          ,
          = subtitle.start_at
          = link_to 'Edit', edit_admin_video_subtitle_path(@video, subtitle), class: 'btn btn-info btn-sm'
%br
%br

- @subtitle ||= Subtitle.find(params[:subtitle_id]) rescue nil
:javascript
  function captureSubtitlePosition(){
    $('#movie').get(0).pause();
    if($('#subtitle_start_at').val())
    {
      $('#subtitle_end_at').val($('#movie').get(0).currentTime);
    }else{
      $('#subtitle_start_at').val($('#movie').get(0).currentTime);
    } 
  }

  function clearNewSubtitlePositions(){
    $('#subtitle_start_at').val('');
    $('#subtitle_end_at').val('');
  }

  function seekToVideo(start_at){
    $('#movie').get(0).currentTime = start_at;
  }

  $(function(){
    var movie = $('#movie').get(0);
    movie.currentTime = "#{@subtitle.try(:start_at) rescue 0}";
    // seek when press arrow keys
    var frameTime = 5;
    window.addEventListener('keydown', function (evt) {
      if (true) { //or you can force it to pause here
          if (evt.keyCode === 37) { //left arrow
              if (movie.currentTime > 0) {
                  //one frame back
                  movie.currentTime -= frameTime;
              }
          } else if (evt.keyCode === 39) { //right arrow

              if (movie.currentTime < movie.duration) {
                  //one frame forward
                  //Don't go past the end, otherwise you may get an error
                  movie.currentTime = Math.min(movie.duration, movie.currentTime + frameTime);
              }
          }
      }
    });
  });
  
  