%h2 Videos (#{Video.count})

%p.clearfix
  = link_to "All videos", admin_videos_path
  |
  = link_to "Featured videos", featured_admin_videos_path
  = link_to "Post New Video", new_admin_video_path, class: 'btn btn-primary pull-right'

.clearfix
  = paginate @videos

%table.table
  %thead
    %th
    %th Title
    %th Playable?
    %th Category
    %th Tags
    %th Descrition
    %th 
  - @videos.each do |video|
    %tr{class: "#{"alert alert-info" if video.featured?}"}
      %td.col-sm-1
        - if video.thumbnail?
          = image_tag video.thumbnail.thumb.url, class: "img-responsive"
        - else
          = image_tag asset_path('no-thumbnail.png'), class: "img-responsive"
      %td=video.title
      %td
        - if video.playable?
          %span.glyphicon.glyphicon-play
        - else
          %span.glyphicon.glyphicon-remove
          %br
          = "#{video.encoding_progress}% encoded"
      %td
        = video.category.try(:name)
      %td
        = video.tag_list
      %td.col-sm-2
        = sanitize(truncate(video.description, :omission => "...", :length => 40))
      %td
        = link_to edit_admin_video_path(video), class: "btn btn-info btn-sm" do
          %span.glyphicon.glyphicon-pencil
          Edit
        = link_to video_path(video), class: "btn btn-info btn-sm" do
          %span.glyphicon.glyphicon-eye-open
          Show
        = link_to admin_video_path(video), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } do
          %span.glyphicon.glyphicon-trash
          Delete
.clearfix
  = paginate @videos